.div_ct_timepicker{
	width: 100%;
}
.div_ct_timepicker div {
	float:left;
	padding-bottom: 10px;
	margin-bottom: 10px; 
}
.ct_hour{
	width: 33%;
	text-align:center;
	border: 1px solid #ebebeb;
}
.ct_minute{
	width: 33%;
	text-align:center;
	border: 1px solid #ebebeb;
}
.ct_meridiem{
	width: 33%;
	text-align:center;
	border: 1px solid #ebebeb;
}
.ct-up-hand, .ct-down-hand{
	cursor:pointer;
}
.center_value {
    width: 100%;
    text-align: center;
    border: none;
    font-size: 36px;
    margin-top: 5px;
    margin-bottom: 5px;
}

input[class="center_value"]::-webkit-outer-spin-button,
input[class="center_value"]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}